* {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	text-decoration: none;
	background: #122932;
	position: relative;
}
h1, #nounDisplay {
	display: inline;
	line-height: 400px;

}
h1{
	color: white;
}
 
#nounDisplay{
	color: #74A4BC;
	font-weight: bold;
	font-size: 30px;

}

/* Hover Button by Hakim El Hattab 

/* Reset */
button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
button {
  display: block;
  position: relative;
  margin: 20px auto;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid #6E8898;
  background: #B6D6CC;
  color: #fff;
  box-shadow: 0px 0px 0px #95818D;
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px  #0C1B20;
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

button:active {
  top: 0px;
  box-shadow: 0px 0px 0px #0C1B20;
  background: #B6D6CC;
}